$primary: #f44336;
$body-bg:#f1f1f1;
$body-color: #333;

$cubic: cubic-bezier(.2,0,.4,1) !default;
$lang-colors: (
    CSS: #673ab7,
    JavaScript: #ffeb3b,
    HTML: #ff5722
) !default;
$social-colors: (
    github: #333,
    telegram: #0088cc,
    codepen: #333/2 + #0088cc/2
) !default;

$footer-height: 60px !default;
