@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:300,400,700");

body{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    margin: .67rem auto;
}

code, pre, .mono{
    font-family: 'roboto mono';
}

@for $w from 1 through 9{
    $e: $w*100;
    .fw-#{$e}{
        font-weight: $e;
    }
}

.mono{
    @extend .fw-700;
}

.material-icons, .fa{
    vertical-align: middle;
    font-size: 1.3em;
    position: relative;
    top: -0.1em;
}

h1{
    font-size: 2.8em;
}

h2{
    font-size: 2.4em;
}

h3{
    font-size: 2.1em
}

h4{
    font-size: 1.75em;
}

h5{
    font-size: 1.4em;
}

h6{
    font-size: 1.2em;
}

@for $i from 1 through 6{
    .h#{$i}{
        @extend h#{$i};
    }
}
