.has-ripple{
    position: relative;
}

.ripple-container{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    overflow: hidden;
    color: inherit;
    pointer-events: none;
    .ripple-effect{
        position: absolute;
        height: 0;
        width: 0;
        color: inherit;
        opacity: .125;
        border-radius: 100%;
        transform: translate3d(-50%, -50%, 0);
        &.on{
            transition: .7s cubic-bezier(.2,0,.4,1);
            transition-property: width, height;
        }
    }
}
