@font-face {
  font-family: 'product sans';
  src: url('../fonts/productSans-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/productSans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //    url('productSans-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/productSans-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/productSans-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/productSans-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

*{
    font-family: 'product sans';
    font-weight: normal;
}
