@import "https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "_ripple";
@import "_data";
@import "_fonts";

*{
    outline: none !important;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    background-color: $body-bg;
    color: $body-color;
    margin: 0;
}

section{
    min-height: calc(100vh - $footer-height);
    width: 100%;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (min-width: 768px){
        width: 8/12*100%;
    }
}

@for $i from 1 through 3{
    .sp-#{$i*50}{
        height: #{$i*50}px;
    }
}

@each $align in center, right, left{
    .align-#{$align}{
        text-align: $align
    }
}

a{
    text-decoration: none;
    color: $primary
}

small{
    font-size: 85%
}

[muted]{
    color:$body-color*3
}

.flex-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
    @media only screen and (max-width: 768px){
        flex-wrap: wrap;
    }
}

.chip{
    background-color: #fff;
    color: inherit;
    display: block;
    // margin: 10px;
    &:not(:last-of-type){
        margin-right: 15px;
        @media only screen and (max-width: 768px){
            margin-bottom: 15px;
            margin-right: 0
        }
    }
    @media only screen and (min-width: 768px){
        max-width: 404px;
        &.mini{
            max-width: 202px;
        }
    }
    box-shadow: 0 2px 3px rgba(#000, .15);
    border-radius: 2.5px;
    padding: 15px 25px;
    &.mini{
        padding: 12px 24px;
    }
    width: 100%;
    transition: box-shadow .15s $cubic;
    i{
        display: block;
        font-size: 5em;
        color: $primary;
        margin: .5rem auto;
    }
    &:hover, &:focus{
        box-shadow: 0 6px 3px rgba(#000, .25)
    }
    &[data-social]{
        &, i{
            color: #fff
        }
        @each $net, $hex in $social-colors{
            &[data-social='#{$net}']{
                background-color: $hex
            }
        }
    }
}


footer{
    background-color: #fff;
    box-shadow: 0 -2px 3px rgba(#000, .15);
    padding: 0 #{$footer-height/4};
    font-size: .8*#{$footer-height};
    line-height: $footer-height;
    height: $footer-height;
}

@mixin clear {
    &::after, &::before{
        clear: both;
        display: table;
        content: ''
    }
}

.clear{
    @include clear;
}

.repos{
    @include clear;
    width: 100%;
    float: left;
    @media only screen and (min-width: 768px){
        width: 50%;
        &:not(:last-of-type){
            padding-right: 20px;
        }
    }
    @media only screen and (max-width: 768px){
        padding: 0 10px;
    }
}

.repo{
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(#000, .15);
    border-radius: 2.5px;
    padding: 15px;
    transition: box-shadow .15s $cubic;
    // &:not(:last-of-type){
    margin-bottom: 20px;
    // }
    &:hover, &:focus{
        box-shadow: 0 6px 3px rgba(#000, .25)
    }
    width: 100%;
    text-align: left;
    p{
        display: block;
        // width: 100%;
        // max-width: 100%;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
    }
    .stars{
        text-align: right;
        font-size: .6em;
        color: #666;
        i{
            position: relative;
            top: -.1em;
        }
    }
    .language{
        color: #666;
        font-size: .7em;
        font-weight: 400;
        &::before{
            content: '';
            display: inline-block;
            height: 1em;
            width: 1em;
            border-radius: 50%;
            margin-right: 1em;
            margin-top: -.1em;
            position: relative;
            bottom: -0.1em;
        }
        @each $lang, $hex in $lang-colors {
            &[data-language='#{$lang}'] {
                &::before{
                    background-color: #{$hex};
                }
            }
        }
        &::after{
            content: attr(data-language);
        }
    }
}

#back{
    font-size: 25px;
    height: 3em;
    width: 3em;
    line-height: 3em;
    border-radius: 50%;
    display: inline-block;
    color: #333;
    transition: .2s $cubic;
    position: absolute;
    left: 25px;
    top: 25px;
    text-align: center;
    &:hover, &:focus{
        background-color: rgba(#333, .125);
    }
}

@mixin placeholder() {
    &::-webkit-input-placeholder{
        @content;
    }
    &::-moz-placeholder{
        @content;
    }
    &:-ms-input-placeholder{
        @content;
    }
}

.group{
    display: flex;
    align-items: center;
    height: 50px;
    margin: .5rem 0;
    .addon{
        width: 50px;
        text-align: center;
        flex-shrink: 0;
    }
    .input{
        width: 100%;
        input{
            width: 100%;
            border: 0;
            background: 0;
            border-bottom: 1px solid #999;
            font-size: 25px;
            padding-bottom: 5px;
            transition: .2s $cubic;
            font-size: 16px;
            @include placeholder{
                color: #999;
                opacity: 1
            };
            font-family: inherit;
            font-weight: 300;
            &:focus{
                border-bottom-color: $primary;
                box-shadow: 0 1px 0 $primary;
            }
        }
    }
}

.textarea{
    margin: .5rem 0;
    textarea{
        resize: none;
        width: 100%;
        border: 0;
        background: 0;
        @include placeholder{
            color: #999;
            opacity: 1
        };
        border-bottom: 1px solid #999;
        font-size: 17px;
        padding-bottom: 5px;
        transition: .2s $cubic;
        font-size: 16px;
        font-family: inherit;
        font-weight: 300;
        overflow: hidden;
        &:focus{
            border-bottom-color: $primary;
            box-shadow: 0 1px 0 $primary;
        }
    }
    .chars-left{
        color: $primary;
        font-weight: 700;
        font-size: 85%;
        // float: right;
        // display: inline-block;
        margin-top: 5px;
    }
}

.btn{
    position: relative;
    box-shadow: 0 2px 3px rgba(#000, .15);
    &:hover, &:focus{
        box-shadow: 0 6px 3px rgba(#000, .15)
    }
    border: 0;
    background-color: $primary;
    color: #fff;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    touch-action: manipulation;
    padding: 18px 45px;
    transition: .15s $cubic;
    vertical-align: middle;
    border-radius: 2.5px;
    font-weight: bold;
}

.loader{
    // height: calc(100vh - 170px);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-shrink: 0;
    padding: 20px 0;
}
