@import "https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "_data";
@import "_fonts";

*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    background-color: $body-bg;
    color: $body-color;
    margin: 0;
}

section{
    width: 100%;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (min-width: 768px){
        width: 8/12*100%;
    }
}

@for $i from 1 through 6{
    .sp-#{$i*50}{
        height: #{$i*50}px;
    }
}

@each $align in center, right, left{
    .align-#{$align}{
        text-align: $align
    }
}

a{
    text-decoration: none;
    color: $primary
}

small{
    font-size: 85%
}

[muted]{
    color:#888
}

.flex-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.chip{
    background-color: #fff;
    color: inherit;
    display: block;
    margin: 10px;
    box-shadow: 0 2px 3px rgba(#000, .15);
    border-radius: 2.5px;
    padding: 15px 100px;
    &.mini{
        padding: 12px 50px;
    }
    transition: box-shadow .15s $cubic;
    i{
        display: block;
        font-size: 5em;
        color: $primary;
        margin: .5rem auto;
    }
    &:hover, &:focus{
        box-shadow: 0 6px 3px rgba(#000, .25)
    }
    &[data-social]{
        &, i{
            color: #fff
        }
        &[data-social='github']{
            background-color: #333
        }
        &[data-social='telegram']{
            background-color: #0088cc
        }
        &[data-social='ig']{
            background-color: #c13584
        }
    }
}


footer{
    background-color: #fff;
    box-shadow: 0 -2px 3px rgba(#000, .15);
    padding: 15px 20px;
    font-size: 80%
}
